@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, * {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

button {
    border-radius: 3px;
    border: none;
    padding: 8px 16px;
    background-color: #3a3a3d;
    color: #f4f4f6;
    margin: 8px 0;
}

.hero, .footer {
    background-color: #7f8086;
    color: #f9faf8;
}

.hero {
    padding: 0 14vw;
}

.container {
    display: flex;
    align-items: center;
    height: 80vh;
}

.content {
    width: 50px;
    min-width: none;
    flex: 1 1 auto;
    padding-right: 10px;
}
.content h1 {
    font-size: 3em;
}
.content p {
    
    color: #e5e7eb;
    
}

.container .img {
    width: 50px;
    flex: 1 auto;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 10vh;
    align-items: center;
}

#header ul {
    color: #e5e7eb;
    display: flex;
    gap: 1.5em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration:none;
    color: #e5e7eb;
}